/*
 * nakakita ryusuke サイトメインスタイルシート
 *
 * クラス名はBEMで命名すること。
 * http://blog.ruedap.com/2013/10/29/block-element-modifier
 * [Example]
 *   block
 *   block__element
 *   block__element--modifier
 *   block--modifier
 *   block--modifier__element
 */
@import url(https://fonts.googleapis.com/css?family=Amiri:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://use.typekit.net/nan2cnv.css");
@import url("https://use.typekit.net/nup3qvp.css");
}
.Roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'novecento_sans_widemedium';
  src: url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.eot');
  src: url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.woff2') format('woff2'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.woff') format('woff'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.ttf') format('truetype'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Novecento_sans--Medium {
  font-family: 'novecento_sans_widemedium';
}
@font-face {
  font-family: 'novecento_sans_widedemibold';
  src: url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.eot');
  src: url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.woff') format('woff'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Novecento_sans--DemiBold {
  font-family: 'novecento_sans_widedemibold';
}
@font-face {.Neuzeit Grotesk Light
font-family: neuzeit-grotesk, sans-serif;
font-weight: 300;
font-style: normal;
}
@font-face {.Neuzeit Grotesk Regular
font-family: neuzeit-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
}
@font-face {.Neuzeit Grotesk Bold
font-family: neuzeit-grotesk, sans-serif;
font-weight: 700;
font-style: normal;
}
@font-face {.Neuzeit Grotesk Black
font-family: neuzeit-grotesk, sans-serif;
font-weight: 900;
font-style: normal;
}
@font-face {.Aktiv Grotesk Hairline
font-family: aktiv-grotesk, sans-serif;
font-weight: 200;
font-style: normal;
}
@font-face {.Aktiv Grotesk Light
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: normal;
}
@font-face {.Aktiv Grotesk Regular
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
}
@font-face {.Aktiv Grotesk Medium
font-family: aktiv-grotesk, sans-serif;
font-weight: 500;
font-style: normal;
}
@font-face {.Aktiv Grotesk Bold
font-family: aktiv-grotesk, sans-serif;
font-weight: 700;
font-style: normal;
}
@font-face {.Aktiv Grotesk Light Italic
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: italic;
}
@font-face {.Aktiv Grotesk Italic
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: italic;
}
@font-face {.DNP ShueiGoKinStd L
font-family: dnp-shuei-gothic-kin-std, sans-serif;
font-style: normal;
font-weight: 400;
}
@font-face {.DNP ShueiGoKinStd M
font-family: dnp-shuei-gothic-kin-std, sans-serif;
font-style: normal;
font-weight: 500;
}
@font-face {.DNP ShueiGoKinStd B
font-family: dnp-shuei-gothic-kin-std, sans-serif;
font-style: normal;
font-weight: 600;
}
.reset_margin {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.imglink:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.post_title_font {
  font-family: 'novecento_sans_widemedium';
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 2px;
}
.post_category_font {
  font-family: 'Amiri', serif;
  font-size: 14px;
}
body {
  margin: 10;
  padding: 0;
  font-family:dnp-shuei-gothic-kin-std,YuGothic,Hiragino Kaku Gothic ProN,Meiryo ;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1.3px;
  background-color: #fff;
  color: #25232B;
}
.logo img{
    width: 500px;
  margin: 50px 7px 0px;
  top: 32px;
  left: 0px;
  z-index: 20;
	position: fixed;
}
.logo:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.subtitle {
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 24px;
  letter-spacing: 0.3px;
  position: absolute;
  top: 45px;
  right: 80px;
  z-index: 20;
  display: none
	}
.menu {
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 20;
}
.menu:after {
  content: "";
  clear: both;
  display: block;
}
.menu__icon {
  float: right;
  cursor: pointer;
display: none
}
.menu__icon:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.menu__list {
  float: right;
  margin: 30px 50px 0 0;
  list-style-type: none;
}
.menu__list__item {
  margin-bottom: 8px;
  letter-spacing: 1.8px;
}
.menu__list__link {
  color: inherit;
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 13px;
  margin-bottom: 5px; 
  float:right
}
.menu__list__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.menu__list__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.header {
  margin: 0 auto;
  max-width: 541px;
  margin-top: 85px;
  margin-bottom: 85px;
}
.header__description {
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: italic;
  text-align: center;
}
.header__description__img {
  max-width: 421px;
  width: 100%;
  height: auto;
}
.nav {
  margin: 0 auto;
  max-width: 501px;
  margin-top: 80px;
}
.nav--detail {
  margin: 0px 40px 0;
}
.nav__list {
  margin: 0;
  padding: 0;
}
.nav__list:after {
  content: "";
  clear: both;
  display: block;
}
.nav--detail__list {
  margin: 190px -20px 35px;
  padding: 0;
  text-align: left;
}
.nav--detail__list:after {
  content: "";
  clear: both;
  display: block;
}
.nav__list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 34px;
  float: left;
}
.nav__list__item:first-child {
  margin-left: 0;
}
.nav--detail__list__item {
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  list-style-type: none;
  margin-left: 20px;
  display: inline-block;
}
.nav--detail__list__item:first-child {
  margin-left: 0;
}
.nav--detail__list__item--large {
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  list-style-type: none;
  margin-left: 20px;
  display: inline-block;
}
.nav__list__item__image:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.nav__list__item__link {
  color: inherit;
  text-decoration: none;
}
.nav--detail__list__item__link {
  color: inherit;
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #4e4e4e;
}
.nav--detail__list__item__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.nav--detail__list__item__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.content {
  width: 100%;
   margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}
.content:after {
  content: "";
  clear: both;
  display: block;
}
.content--about {
  width: 66.6667%;
  width: calc(66.66666667%);
  max-width: 541px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.9;
  margin: 190px 20px
}
.content__box:after {
  content: "";
  clear: both;
  display: block;
}
.content__post {
  width: 50%;
  width: calc(50%);
  float: left;
  position: relative;
}
.content__post__figure {
  margin: 10;
  padding: 0;
}
.content__post__figure__eyecatch {
  width: 100%;
  height: auto;
  z-index: 1;
  vertical-align: bottom;
}
.content__post__figure__link {
  color: inherit;
  text-decoration: none;
}
.content__post__figure__description {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255);
  z-index: 10;
  width: 90%;
  height: 85%;
  margin: 4.8% 3.7%;
  text-align: center;
  top: 0%;
}
.content__post__figure__description__inside {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 45px;
  text-align: center;
}
.content__post__figure__description__title {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing: 3px;
font-size: 14px;
  margin: 0 0 20px;
}
.content__post__figure__description__title:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.content__post__figure__description__title:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.content__post__figure__description__caption {
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: italic;
  font-size: 11px;
  letter-spacing: 1.5px;
}
.below_content {
  font-family: 'novecento_sans_widemedium';
  letter-spacing: 1.8px;
  color: #25232B;
  padding-top: 56px;
  text-align: center;
}
.below_content--detail {
  padding-top: 160px;
}
.below_content__link {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.below_content__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.below_content__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.footer {
  margin-top: 160px;
  padding-bottom: 40px;
}
.footer:after {
  content: "";
  clear: both;
  display: block;
}
.address {
  margin-left: 20px;
  font-style: normal;
  float: left;
  max-width: 362px;
}
.address__sns__image:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.address__mail {
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: 12px;
  letter-spacing: 0.05em;
}
.address__mail__link,
.about a.address__mail__link {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.address__mail__link:before,
.about a.address__mail__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.address__mail__link:hover:before,
.about a.address__mail__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.up {
  margin-right: 20px;
  float: right;
  min-width: 51px;
  padding-top: 8px;
}
.up__img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.post {
  margin: 70px 30px;
}
.post h2 {
font-family: aktiv-grotesk, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 16px
  letter-spacing: 2px;
  margin-bottom: 6px;
}
.post p {
  margin: 0 0 20px;
  line-height: 2;
}
.about a {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #2585B5;
}
.about a:before {
  content: "";
  display: block;
  position: relative;
  top: 1.5em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #2585B5;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.about a:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.post img {
  max-width: 100%;
  height: auto;
}
.post a {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #2585B5;
}
.post a:before {
  content: "";
  display: block;
  position: relative;
  top: 1.6em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #2585B5;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.post a:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.post .category a {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.post .category a:before {
  content: "";
  display: block;
  position: relative;
  top: 1.6em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.post .category a:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.post__information {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.7;
	margin: 30 0 0
}
.post__information__item {
  margin-right: 12px;
}
.category {
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: italic;
  font-size: 13px;
}
p.category,
.post__description p {
  margin-bottom: 0px;
}
.category__link {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.category__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #888;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.category__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}
.pagetitle {
  font-family: 'novecento_sans_widedemimedium';
  margin: 70px 0 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
}
.about p {
  margin: 0 60 0px;
font-size: 14px;
}
.name {
  font-size: 16px;
	font-weight: normal;
  margin: 0 60 12px;
}
.name__english {
  font-family: 'novecento_sans_widemedium';
  letter-spacing: 2.1px;
}
.mail {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-top: 40px;
    margin: 60 60;
}
.largemail_icon {
  vertical-align: middle;
  margin-right: 12px;
}
.service {
  float: left;
  margin-left: 15%;
  width: 40%;
}
.service__title {
  font-family: 'novecento_sans_widemedium';
  margin: 0 0 15px;
  font-size: 16px;
  letter-spacing: 2.1px;
  border-bottom: 1px solid #25232B;
  padding: 0 0 7px;
}
.service_name {
  font-family: 'novecento_sans_widemedium';
  font-size: 15px;
  letter-spacing: 1px;
}
.service_list {
  line-height: 1.5;
}
@media screen and (max-width: 1280px)
{
.logo img{
    width: 500px;
  margin: 50px 7px 0px;
  top: 32px;
  left: 0px;
  z-index: 20;x
}
.subtitle {
  right: 75px;
} 
.nav--detail__list {
  margin: 190px -20px 35px;
  padding: 0;
  text-align: left;
 } 
	.menu__list {
  margin: 20px 45px 0;
} 
.content {
  margin-top: -20px;
}
	.content--about {
  margin: 190px 20px;
	  }
.content__post__figure {
  margin: 10;
  padding: 0;
}
.post {
  margin: 60px 20px;
}
.content__post__figure__description {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255);
  z-index: 10;
  width: 90%;
  height: 85%;
  margin: 4.8% 3.3%;
  text-align: center;
  top: 0%;
  }
@media screen and (max-width: 1000px)
{
.content__post__figure__description {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255);
  z-index: 10;
  width: 90%;
  height: 85%;
  margin: 4.7% 3%;
  text-align: center;
  top: 0%;
  }
@media screen and (max-width: 800px) 
{
.logo img{
  width: 500px;
  margin: 50px 7px 0px;
  top: 32px;
  left: 0px;
  z-index: 20px;
}
.subtitle {
  right: 67px;
} 
	.menu__list {
  margin: 20px 37px 0;
} 
.content {
  margin-top: -10px;
}
.content__post__figure {
  margin: 10;
  padding: 0;
}
	.post {
  margin: 50px 10px;
}
	.content--about {
  margin: 190px 10px;
	  }
	  .content__post__figure__description {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255);
  z-index: 10;
  width: 87%;
  height: 81%;
  margin: 6% 3.3%;
  text-align: center;
  top: 0%;
  } 
@media screen and (max-width: 541px) 
{
 .content__post {
    width: 100%;
    float: none;
} 
	.menu__icon {
  float: right;
  cursor: pointer;
display: block
}
    .nav--detail {
    display: none;
} 
.menu__list {
  display: none;
  float: right;
  margin: 0 8px 0 0;
  list-style-type: none;
}
  .logo img {
    width: 400px;
    left: 0px;
	margin: 0px -8px 0px
  }
	.subtitle {
	display: none
  }
  .menu {
    right: 20px;
	top: 35px; 
  } 
	.content {
    margin-top: 100px;
   } 
	.post {
    width: auto;
    margin: 0 20px;
  }
body {
  margin: 0;
  padding: 0;
  font-family:dnp-shuei-gothic-kin-std, YuGothic,Hiragino Kaku Gothic ProN,Meiryo;
  font-size: 12px;
  line-height: 1.2;
  background-color: #fff;
  color: #25232B;
  }
.content__post__figure {
  margin: 10;
  padding: 0;
  }
.content__post__figure__description {
  background-color: rgba(255, 255, 255 ,0);
}	
	}
	.content--about {
  margin: 100px 13px;
	  }
 .up {
    margin-right: 16px;
  }
  .address {
    margin-left: 16px;
  }
  .header__sitetitle {
    display: none;
  }
  .header__description__img {
    width: 421px;
    max-width: 100%;
    height: auto;
  }
  .header {
    margin-bottom: 12px;
	  margin-top: 42px;
}
  .nav {
    margin-top: 20px;
  }
  .nav__list__item {
    margin: auto;
    width: 144px;
    float: none;
  } 
  .nav__list__item:first-child {
    margin: auto;
 }
  .content__post__figure__description__inside {
    display: none;
 }
  .content--about {
    margin: 190 10px;
    width: auto;
  }
  .about {
    float: none;
    width: 100%;
  }
  .mail {
    margin-top: 12px;
  }
  .service {
    float: none;
    width: 100%;
    margin: 12px 0 0;
  }
}
