/*
 * nakakita ryusuke サイトメインスタイルシート
 *
 * クラス名はBEMで命名すること。
 * http://blog.ruedap.com/2013/10/29/block-element-modifier
 * [Example]
 *   block
 *   block__element
 *   block__element--modifier
 *   block--modifier
 *   block--modifier__element
 */
@import url(https://fonts.googleapis.com/css?family=Amiri:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://use.typekit.net/nan2cnv.css");
@import url("https://use.typekit.net/nup3qvp.css");

/*------
 * FONT
 *------*/
.Roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'novecento_sans_widemedium';
  src: url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.eot');
  src: url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.woff2') format('woff2'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.woff') format('woff'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.ttf') format('truetype'), url('../../font/novecentosanswide_medium_macroman/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Novecento_sans--Medium {
  font-family: 'novecento_sans_widemedium';
}
@font-face {
  font-family: 'novecento_sans_widedemibold';
  src: url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.eot');
  src: url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.woff') format('woff'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'), url('../../font/novecentosanswide_demibold_macroman/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Novecento_sans--DemiBold {
  font-family: 'novecento_sans_widedemibold';
}
@font-face {.Neuzeit Grotesk Light
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}
@font-face {.Neuzeit Grotesk Regular
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {.Neuzeit Grotesk Bold
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}
@font-face {.Neuzeit Grotesk Black
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 900;
  font-style: normal;
}
@font-face {.Aktiv Grotesk Hairline
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 200;
  font-style: normal;
}
@font-face {.Aktiv Grotesk Light
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}
@font-face {.Aktiv Grotesk Regular
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {.Aktiv Grotesk Medium
   font-family: aktiv-grotesk, sans-serif;
   font-weight: 500;
   font-style: normal;
}
@font-face {.Aktiv Grotesk Bold
   font-family: aktiv-grotesk, sans-serif;
   font-weight: 700;
   font-style: normal;
}
@font-face {.Aktiv Grotesk Light Italic
   font-family: aktiv-grotesk, sans-serif;
   font-weight: 300;
   font-style: italic;
}
@font-face {.Aktiv Grotesk Italic
   font-family: aktiv-grotesk, sans-serif;
   font-weight: 400;
   font-style: italic;
}
@font-face {.DNP ShueiGoKinStd L
   font-family: dnp-shuei-gothic-kin-std, sans-serif;
   font-style: normal;
   font-weight: 400;
}
@font-face {.DNP ShueiGoKinStd M
   font-family: dnp-shuei-gothic-kin-std, sans-serif;
   font-style: normal;
   font-weight: 500;
}
@font-face {.DNP ShueiGoKinStd B
   font-family: dnp-shuei-gothic-kin-std, sans-serif;
   font-style: normal;
   font-weight: 600;
}

/*-----------
 * ANIMATION
 *-----------*/
@keyframes fade_in {
  0%   {opacity: 0}
  100% {opacity: 1}
}

/*---------
 * GENERAL
 *---------*/
.reset_margin {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.imglink:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}
.post_title_font {
  font-family: 'novecento_sans_widemedium';
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 2px;
}
.post_category_font {
  font-family: 'Amiri', serif;
  font-size: 14px;
}

/*----------
 * SITE CSS
 *----------*/
body {
  margin: 0;
  padding: 0;
  font-family:dnp-shuei-gothic-kin-std,YuGothic,Hiragino Kaku Gothic ProN,Meiryo ;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1.3px;
  background-color: #fff;
  color: #25232B;
}

.archive_body, .single_body{
  margin : 0 10px;
}

.logo__img{
  margin-left : 40px;
  top         : 80px;
  left        : 0px;
  z-index     : 20;
	position    : absolute;
}
.logo:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}

.logo__img--PC{
  display : inline-block;
  width   : 800px;
}

.logo__img--SP{
  display : none;
}

.logo__img--top{
  opacity             : 0;
  animation           : fade_in 1s ease 1s 1 normal;
  animation-fill-mode : forwards;
}

.logo__img--not_top{
  width   : 24px;
  z-index : 40;
}

.logo__img--old{
  width               : 300px;
  max-width           : 77%;
  margin-left         : 2px;
  position            : fixed;
	opacity             : 0;
  animation           : fade_in 1s ease 0s 1 normal;
  animation-fill-mode : forwards;
}

.menu {
  position: absolute;
  top: 65px;
  right: 30px;
  z-index: 40;
}
.menu:after {
  content: "";
  clear: both;
  display: block;
}

.menu__icon {
  float: right;
  cursor: pointer;
  display: none
}
.menu__icon:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}

.menu__icon__img{
  width  : 26px;
  height : auto;
}
.menu__icon__img--close{
  display : none;
}

.menu__list {
  float           : right;
  margin          : 15px 20px 0;
  list-style-type : none;
}

.menu__list__item {
  margin-bottom  : 8px;
  margin-left    : 25px;
  letter-spacing : 1.8px;
  /*float          : left; 一旦縦並びに変更。TOPができたら横並びにする。*/
}

.menu__list__link {
  color: inherit;
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 5px;
  float:right;
	opacity             : 0;
  animation           : fade_in 0.5s ease 1s 1 normal;
  animation-fill-mode : forwards;
}
.menu__list__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.menu__list__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.spmenu {
  position    : relative;
  display     : none;
  z-index     : 30;
  margin      : 0;
}

.spmenu__wrapper{
  display     : flex;
  align-items : center;
  width       : 100%;
  height      : 100%;
  background  : #ffffff;
}

.spmenu__list {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
  width           : 100%;
}

.spmenu__list__item{
  width         : 100%;
  text-align    : center;
  margin-bottom : 50px;
}

.spmenu__list__link {
  text-decoration : none;
  color           : #5a5a5a;
  font-family     : aktiv-grotesk, sans-serif;
  font-weight     : 300;
  font-style      : normal;
  font-size       : 20px;
  letter-spacing  : 4px;
}

.header {
  margin        : 0 auto;
  margin-top    : 180px;
  margin-bottom : 10px;
  height        : 40px;
}

.header--about{
  margin-left : 40px;
}

.header__description {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.header__description__img {
  max-width: 421px;
  width: 100%;
  height: auto;
}

.about_heading{
  font-family : aktiv-grotesk, sans-serif;
  font-size   : 20px;
  font-weight : 400;
  color       : #000;
  margin      : 160px;
}

.nav {
  margin: 0 auto;
  max-width: 501px;
  margin-top: 80px;
}

.nav--detail {
  margin: 0px 20px 0;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__list:after {
  content: "";
  clear: both;
  display: block;
}

.nav--detail__list {
  margin: 0;
  padding: 10px 0px;
  text-align: left;
  opacity             : 0;
  animation           : fade_in 0.5s ease 1s 1 normal;
  animation-fill-mode : forwards;
}

.nav--detail__list:after {
  content: "";
  clear: both;
  display: block;
}

.nav__list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 34px;
  float: left;
}

.nav__list__item:first-child {
  margin-left: 0;
}

.nav--detail__list__item {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  list-style-type: none;
  margin-left: 20px;
  display: inline-block;
}

.nav--detail__list__item:first-child {
  margin-left: 0;
}

.nav--detail__list__item--large {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  list-style-type: none;
  margin-left: 20px;
  display: inline-block;
}
.nav__list__item__image:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}

.nav__list__item__link {
  color: inherit;
  text-decoration: none;
}

.nav--detail__list__item__link {
  color: inherit;
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #4e4e4e;
}
.nav--detail__list__item__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.nav--detail__list__item__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity             : 0;
  animation           : fade_in 2s ease 0.5s 1 normal;
  animation-fill-mode : forwards;
}
.content:after {
  content: "";
  clear: both;
  display: block;
}

.content--about {
  line-height : 1.9;
  padding-top : 82px;
}

.about p {
  margin    : 0 0 2.2em;
  font-size : 16px;
  color     : #000;
	max-width :800px;
}

.studio_address, .studio_description, .studio_map, .about{
  margin : -20px 200px;
}

.studio_address{
  font-size : 20px;
}

.studio_description p{
  font-size : 17px;
}

.about_bg{
  background-color : #f8f8f8;
}

.content__box:after {
  content: "";
  clear: both;
  display: block;
}

.content__post {
  width    : 47%;
  width    : calc(50% - 20px);
  margin   : 0 10px 20px;
  float    : left;
  position : relative;
}

.content__post__figure {
  margin  : 0;
  padding : 0;
}

.content__post__figure__eyecatch {
  width: 100%;
  height: auto;
  z-index: 1;
  vertical-align: bottom;
}

.content__post__figure__link {
  color: inherit;
  text-decoration: none;
}

.content__post__figure__description {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255);
  z-index: 10;
  width: 93.2%;
  height: 89%;
  margin: 3.4% 3.4%;
  text-align: center;
  top: 0%;
}

.content__post__figure__description__inside {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 45px;
  text-align: center;
}

.content__post__figure__description__title {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 0 0 20px;
}
.content__post__figure__description__title:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.content__post__figure__description__title:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.content__post__figure__description__caption {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 11px;
  letter-spacing: 1.5px;
}

.below_content {
  font-family: 'novecento_sans_widemedium';
  letter-spacing: 1.8px;
  color: #25232B;
  padding-top: 56px;
  text-align: center;
}

.below_content--detail {
  padding-top: 160px;
}
.below_content__link {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.below_content__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.below_content__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.footer {
  margin-top: 160px;
  padding-bottom: 40px;
}
.footer:after {
  content: "";
  clear: both;
  display: block;
}

.address {
  margin-left: 20px;
  font-style: normal;
  float: left;
  max-width: 362px;
}

.address__sns__image:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}

.address__mail {
   font-family: aktiv-grotesk, sans-serif;
   font-weight: 400;
   font-style: normal;
  margin-top: 12px;
  letter-spacing: 0.05em;
}

.address__mail__link,
.about a.address__mail__link {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}

.address__mail__link:before,
.about a.address__mail__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}

.address__mail__link:hover:before,
.about a.address__mail__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.up {
  margin-right: 20px;
  float: right;
  min-width: 51px;
  padding-top: 8px;
}

.up__img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  transition: 0.2s;
}

.post {
  margin: 0 30px 70px;
}

.post h2 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.post p {
  margin: 0 0 20px;
  line-height: 2;
}

.about a{
  text-decoration : underline;
  color           : #535353;
}

.post img {
  max-width: 100%;
  height: auto;
}

.post a {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #2585B5;
}
.post a:before {
  content: "";
  display: block;
  position: relative;
  top: 1.6em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #2585B5;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.post a:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.post .category a {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.post .category a:before {
  content: "";
  display: block;
  position: relative;
  top: 1.6em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #25232B;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.post .category a:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.post__information {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.7;
	margin: 30 0 0
}

.post__information__item {
  margin-right: 12px;
}

.category {
   font-family: aktiv-grotesk, sans-serif;
   font-weight: 300;
   font-style: italic;
  font-size: 13px;
}

.post__description{
  line-height: 2;
}

p.category,
.post__description p {
  margin-bottom: 0px;
}

.category__link {
  text-decoration: none;
  /* 元々の下線を消す */
  display: inline-block;
  /* リンクを文字列中に置くため */
  color: #25232B;
}
.category__link:before {
  content: "";
  display: block;
  position: relative;
  top: 1.25em;
  /* 下線になるよう適当に位置調整 */
  left: 0;
  /* テキストの左端に位置させる */
  width: 0;
  /* アニメーションさせるため 0 にしておく */
  height: 1px;
  background: #888;
  /* 下線の色になる */
  transition: 0.2s;
  /* アニメーションの時間 */
}
.category__link:hover:before {
  width: 100%;
  /* ホバー時にテキストの右端まで下線を伸ばす */
}

.pagetitle {
  font-family: 'novecento_sans_widedemimedium';
  margin: 70px 0 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
}

.name {
  font-size: 16px;
	font-weight: normal;
  margin: 0 60px 12px;
}

.name__english {
  font-family: 'novecento_sans_widemedium';
  letter-spacing: 2.1px;
}

.mail {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-top: 40px;
    margin: 60 60;
}

.largemail_icon {
  vertical-align: middle;
  margin-right: 12px;
}

.service {
  float: left;
  margin-left: 15%;
  width: 40%;
}

.service__title {
  font-family: 'novecento_sans_widemedium';
  margin: 0 0 15px;
  font-size: 16px;
  letter-spacing: 2.1px;
  border-bottom: 1px solid #25232B;
  padding: 0 0 7px;
}

.service_name {
  font-family: 'novecento_sans_widemedium';
  font-size: 15px;
  letter-spacing: 1px;
}

.service_list {
  line-height: 1.5;
}

.topimage{
  margin    : 0 auto;
}

.topimage img{
  max-width : 100%;
  height    : auto;
}

.googlemap{
  height : 100%;
}

/* WordPress独自CSSのリセット */
.wp-block-image {
  margin-left  : 0;
  margin-right : 0;
}

/*----------------
 * SMARTPHONE CSS
 *----------------*/
@media screen and (max-width: 800px)
{
  .content__post {
    width: 100%;
    float: none;
  }

.logo__img--old{
  width               : 200px;
  max-width           : 77%;
  margin-left         : 2px;
  position            : fixed;
}
  .logo__img {
    top : 32px;
  }

  .logo__img--not_top{
    margin-left : 20px;
  }

	.menu__icon {
    float: right;
    cursor: pointer;
    display: block
  }

  .nav--detail {
    display: none;
  }

  .menu__list{
    display : none;
  }

  .menu {
    right: 20px;
  	top: 32px;
  }

	.content {
    margin-top: 20px;
  }
.content__post {
  margin   : 0 0px 20px;
  }

  body {
    margin: 0;
    padding: 0;
    font-family:dnp-shuei-gothic-kin-std, YuGothic,Hiragino Kaku Gothic ProN,Meiryo;
    font-size: 12px;
    line-height: 1.2;
    background-color: #fff;
    color: #25232B;
  }

  .content__post__figure {
    margin: 10;
    padding: 0;
  }

  .content__post__figure__description {
    background-color: rgba(255, 255, 255 ,0);
  }

	.content--about {
    margin      : 0;
    width       : auto;
    padding-top : 30px;
	}

  .studio_address, .studio_description, .studio_map, .about{
    margin : 0 20px;
  }

  .up {
    margin-right: 16px;
  }

  .address {
    margin-left: 16px;
  }

  .header__sitetitle {
    display: none;
  }

  .header__description__img {
    width: 421px;
    max-width: 100%;
    height: auto;
  }

  .header {
    margin-bottom: 12px;
	  margin-top: 42px;
  }

  .header--about{
    margin-top  : 55px;
    margin-left : 20px;
  }

  .studio_address, .studio_description, .studio_map, .about{
    margin : 0 50px;
  }

  .nav {
    margin-top: 20px;
  }

  .nav__list__item {
    margin: auto;
    width: 144px;
    float: none;
  }

  .nav__list__item:first-child {
    margin: auto;
  }

  .content__post__figure__description__inside {
    display: none;
  }

  .about {
    float: none;
  }

  .mail {
    margin-top: 12px;
  }

  .service {
    float: none;
    width: 100%;
    margin: 12px 0 0;
  }

  .logo__img--PC{
    display : none;
  }

  .logo__img--SP{
    display   : inline-block;
    width     : 440px;
    max-width : 77%;
    left      : 20px;
	  margin    : 0px;
  }

  .topimage{
    margin-top : 66px;
    overflow   : hidden;
  }

  .topimage img{
    width      : auto;
    max-width  : initial;
    height     : 100%; /* calcが使えないブラウザ用 */
    height     : calc(100% - 148px); /* 画面の一番下までの大きさにする。 202pxは画面の一番上から画像の開始までの高さ */
  }
}
